<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="flight.css">
    <script data-require="jquery@3.1.1" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="daterangepicker.css" />
    <script src="script.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <title>SKYAIRs</title>
</head>
<body>
    <div class="bg"></div>
    <div class="header">
        <div class="s1"><h1 class="font1">SKYAIRs</h1></div>
        <div class="s2 font"><h3><a href="flight.html">เที่ยวบิน</a></h3></div>
        <div class="s2 font"><h3><a href="order.html">คำสั่งซื้อ</a></h3></div>
        <div class="box1">
            <button class ="button button1 font" onclick="document.getElementById('id01').style.display='block'" style="width:150px;"><h3>Username</h3></button>
            <button class ="button button1_1 font" onclick="document.getElementById('id02').style.display='block'" style="width:150px;"><h3><a href="homepage.html" class="button1_1">Logout</a></h3></button>
        </div>
    </div>
    <div class="box"> 
    <div class="tab-wrap font" >
    <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
    <label for="tab1">เที่ยวเดียว</label>
    <input type="radio" id="tab2" name="tabGroup1" class="tab">
    <label for="tab2">ไป-กลับ</label>
    <div class="tab__content">
        <div class="b1"> 
            <div class="s3"><h3 class = "font2">สนามบินต้นทาง</h3>
                <div class="b1_1">
                <label class="dropdown">
                    <select>
                        <option>เลือกสนามบินต้นทาง</option>
                        <option>ท่าอากาศยานสุวรรณภูมิ(กรุงเทพมหานคร)</option>
                        <option>ท่าอากาศยานนานาชาติเชียงใหม่(เชียงใหม่)</option>
                        <option>ท่าอากาศยานภูเก็ต(เมืองภูเก็ต)</option>
                        <option>ท่าอากาศยานขอนแก่น(ขอนแก่น)</option>
                        <option>ท่าอากาศยานนานาชาติกระบี่(เมืองกระบี่)</option>
                    </select>
                </label>
            </div>
            </div>
            <div class="s4"><h3 class = "font2">สนามบินปลายทาง</h3>
                <label class="dropdown">
                    <select>
                        <option>เลือกสนามบินปลายทาง</option>
                        <option>ท่าอากาศยานสุวรรณภูมิ(กรุงเทพมหานคร)</option>
                        <option>ท่าอากาศยานนานาชาติเชียงใหม่(เชียงใหม่)</option>
                        <option>ท่าอากาศยานภูเก็ต(เมืองภูเก็ต)</option>
                        <option>ท่าอากาศยานขอนแก่น(ขอนแก่น)</option>
                        <option>ท่าอากาศยานนานาชาติกระบี่(เมืองกระบี่)</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="b2">
            <div class="s5"><h3 class = "font2">วันออกเดินทาง</h3></div>
            <input type="text" name="date" style="
            position: absolute;
            top: 45px;
            left: 10px;
            width: 90%;
            padding: 6;
            font-size: 14;
            text-align: center;">
            <script>
            $(function() {
            $('input[name="date"]').daterangepicker({
                singleDatePicker: true,
                opens: 'left',
                drops:'up'
            }, function(start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
            });
            </script>
               
        </div> 
        <div class="b2_1"> 
            <div class="s6"><h3 class = "font2">วันเดินทางกลับ</h3></div>
        </div>
        <div class="b3"> 
            <div class="s7"><h3 class = "font2">จำนวนผู้เดินทาง</h3>
                <div class="quantity buttons_added">
                    <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="20" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
                </div>
            </div>    
        </div>   
        <div class="b3_2"> 
            <div class="s8"><h3 class = "font2">ชั้นโดยสาร</h3>
                <label class="dropdown1">
                    <select>
                        <option>เลือกประเภทชั้นโดยสาร</option>
                        <option>Economy class</option>
                        <option>First class</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="b3_3">
            <button class ="button button2 font" onclick="document.getElementById('id01').style.display='block'" style="width:400px;"><h3><a href="select1.html" class="button2">ค้นหาเที่ยวบิน</a></h3></button>
        </div>
    </div>  
    <div class="tab__content">
        <div class="b1"> 
            <div class="s3"><h3 class = "font2">สนามบินต้นทาง</h3>
                <label class="dropdown">
                    <select>
                        <option>เลือกสนามบินต้นทาง</option>
                        <option>ท่าอากาศยานสุวรรณภูมิ(กรุงเทพมหานคร)</option>
                        <option>ท่าอากาศยานนานาชาติเชียงใหม่(เชียงใหม่)</option>
                        <option>ท่าอากาศยานภูเก็ต(เมืองภูเก็ต)</option>
                        <option>ท่าอากาศยานขอนแก่น(ขอนแก่น)</option>
                        <option>ท่าอากาศยานนานาชาติกระบี่(เมืองกระบี่)</option>
                    </select>
                </label>
            </div>
            <div class="s4"><h3 class = "font2">สนามบินปลายทาง</h3>
                <label class="dropdown">
                    <select>
                        <option>เลือกสนามบินปลายทาง</option>
                        <option>ท่าอากาศยานสุวรรณภูมิ(กรุงเทพมหานคร)</option>
                        <option>ท่าอากาศยานนานาชาติเชียงใหม่(เชียงใหม่)</option>
                        <option>ท่าอากาศยานภูเก็ต(เมืองภูเก็ต)</option>
                        <option>ท่าอากาศยานขอนแก่น(ขอนแก่น)</option>
                        <option>ท่าอากาศยานนานาชาติกระบี่(เมืองกระบี่)</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="b2_2"> 
            <div class="s6_1"><h3 class = "font2">วันออกเดินทาง --> วันเดินทางกลับ</h3></div>
            <input type="text" name="daterange" style="
            position: absolute;
            top: 45px;
            left: 20px;
            width: 90%;
            padding: 6;
            font-size: 14;
            text-align: center;">
            <script>
            $(function() {
            $('input[name="daterange"]').daterangepicker({
                opens: 'left',
                drops:'up'
            }, function(start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
            });
            </script>
        </div>
            
        <div class="b3"> 
            <div class="s7"><h3 class = "font2">จำนวนผู้เดินทาง</h3>
                <div class="quantity buttons_added">
                    <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="20" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
                </div>
            </div>
        </div>
        <div class="b3_2"> 
            <div class="s8"><h3 class = "font2">ชั้นโดยสาร</h3>
                <label class="dropdown1">
                    <select>
                        <option>เลือกประเภทชั้นโดยสาร</option>
                        <option>Economy class</option>
                        <option>First class</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="b3_3">
            <button class ="button button2 font" onclick="document.getElementById('id01').style.display='block'" style="width:400px;"><h3><a href="select1.html" class="button2">ค้นหาเที่ยวบิน</a></h3></button>
        </div>
    </div> 
</div> 
</div>
</body>
</html>