<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="register" method="POST">
        {% csrf_token %}
        User Name: <input type="text" name="username" required><br>
        Email: <input type="text" name="email" required><br>
        Password: <input type="password" name="password1" required><br>
        Confirm Password: <input type="password" name="password2" required><br>
        Phone: <input type="text" name="phone" required><br>
        <input type="submit">
    </form>

    <p>Have an account? <a href="login">Login here</a>.</p>
</body>
</html>