<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <form action="{% url 'search' %}" method="post">
        <div class="input-row">
            <label class="dropdown">
                From:
                <select name="origin">
                    <option>เลือกสนามบินต้นทาง</option>
                    <option value="bkk">ท่าอากาศยานสุวรรณภูมิ(กรุงเทพมหานคร)</option>
                    <option value="cnx">ท่าอากาศยานนานาชาติเชียงใหม่(เชียงใหม่)</option>
                    <option value="hkt">ท่าอากาศยานภูเก็ต(เมืองภูเก็ต)</option>
                    <option value="kkc">ท่าอากาศยานขอนแก่น(ขอนแก่น)</option>
                    <option value="kbv">ท่าอากาศยานนานาชาติกระบี่(เมืองกระบี่)</option>
                </select>
            </label><br><br>
            <label class="dropdown">
                To:
                <select name="destination">
                    <option>เลือกสนามบินปลายทาง</option>
                    <option value="bkk">ท่าอากาศยานสุวรรณภูมิ(กรุงเทพมหานคร)</option>
                    <option value="cnx">ท่าอากาศยานนานาชาติเชียงใหม่(เชียงใหม่)</option>
                    <option value="hkt">ท่าอากาศยานภูเก็ต(เมืองภูเก็ต)</option>
                    <option value="kkc">ท่าอากาศยานขอนแก่น(ขอนแก่น)</option>
                    <option value="kbv">ท่าอากาศยานนานาชาติกระบี่(เมืองกระบี่)</option>
                </select>
            </label><br>
            <label for="seat_class">
                Class:
            </label>
            <select name="seatclass">
                <option value="economy">Economy</option>
                <option value="economy">First</option>
            </select>
            <button type="submit" class="btn btn-danger">Search Flight</button>
    </form>
</body>
</html>