<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% csrf_token %}
        {% for data in ticket %}
            <h3>From: {{data.origin.city_thai}} To: {{data.destination.city_thai}} </h3>
            Flight number: {{data.flightnumber}}<br>
            Depart Date: {{data.depart_date}} , Depart time: {{data.depart_time}} <br>
            {% if data.return_date != None %}
            Return Date: {{data.return_date}} ,Return time: {{data.return_time}}<br>
            {% endif %}
            Amount: {{data.amount}} Bath<br>
        {% endfor %}<br>
</body>
</html>